<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/logo_paris_.jpg" alt="Paris logo">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input placeholder='usuario@parisautos.com.ar' [(ngModel)]="usuario.user_username" name="username" type="email"
          #username="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input [(ngModel)]="usuario.user_password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin()" type="submit" expand="block" [disabled]="loading">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [hidden]="!loading" class="spinner">
        <ion-spinner name="lines"></ion-spinner>
      </ion-col>
    </ion-row>
  </form>

</ion-content>