<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar visitante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar visita</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form [formGroup]="personaForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Nombre</ion-label>
          <ion-input formControlName="nombre" name="nombre" type="text" spellcheck="false" autocapitalize="off">
          </ion-input>

        </ion-item>

        <ion-item>
          <ion-label position="stacked" color="primary">Apellido</ion-label>
          <ion-input formControlName="apellido" name="apellido" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Telefono</ion-label>
          <ion-input formControlName="telefono" name="telefono" type="tel">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="primary">Dni</ion-label>
          <ion-input formControlName="dni" name="dni" type="number">
          </ion-input>
        </ion-item>

      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button [disabled]="!personaForm.valid" (click)="onAgregar()" type="submit" expand="block">Agregar
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col [hidden]="!loading" class="spinner">
          <ion-spinner name="lines"></ion-spinner>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>